<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide style="min-height: 200px;">
        <h1>Slide 1</h1>
      </ion-slide>
      <ion-slide style="min-height: 200px;">
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide style="min-height: 200px;">
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="ion-margin">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="circle-div">
            <ion-icon name="cart" size="large"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="circle-div">
            <ion-icon name="home" size="large"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="circle-div">
            <ion-icon name="home" size="large"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="circle-div">
            <ion-icon name="home" size="large"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <div class="circle-div">
            <ion-icon name="cart" size="large"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="circle-div">
            <ion-icon name="home" size="large"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="circle-div">
            <ion-icon name="home" size="large"></ion-icon>
          </div>
        </ion-col>
        <ion-col>
          <div class="circle-div">
            <ion-icon name="home" size="large"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <h2 class="ion-padding">Blog</h2>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-img src="/assets/images/img-1.jpg"></ion-img>
          </ion-col>
          <ion-col size="8">
            <ion-card-title>Card Title</ion-card-title>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, iure animi autem impedit repudiandae, molestias laboriosam illo accusantium hic,...
            
            <ion-button>Baca selengkapnya</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
